@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
      Roboto, "Helvetica Neue", Arial, sans-serif;
  }
}

/* Link */
a {
  font-weight: 600;
}

a:hover {
  opacity: 0.8;
}

a:active {
  opacity: 0.7;
}

/* General */
.singapore-flag {
  object-position: -444px -160px;
  height: 15px;
}

/* Overrides */
.override-empty-btn {
  border: 1px solid #d0d5dd;
}

.override-home {
  background-image: url("/assets/img/bg-pattern.png");
  background-position: center;
}
